
h1 {
    background-color: brown;
}

.homePage {
    background-color: black;

}

.homePage_backGround {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
}

.homePage_selectHouseRouterButton {
    margin-top: 50px;
    padding-bottom: 500px;
    display: flex;
    justify-content: space-around;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.homePage_selectHouses {
    cursor: pointer;
    background-color:aquamarine;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 600;

}

.homePage_selectHouses:hover {
    transform: scale(1.10);
}


.homePage_spacing {
    padding-bottom: 200px;
}
