.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}


/* Color Palette */

:root {
  --black: #000000;
  --blue: #26687d;
  --off-white: #c7b99a;
  --orange: #f8962e;
  --purple: #412454;
  --white: #ffffff;
  --yellow: #fed346;
}

/* -------------------- NavBar Styling -------------------- */

.navBarColor {
  background-color: var(--purple);
}

/* -------------------- Log In / Sign Up Form Styling -------------------- */

.modal-header button {
  background-color: var(--yellow);
  color: var(--white);
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: var(--white);
  background-color: var(--purple);
}

a {
  color: rgba(65, 36, 84, 0.5);
}

a:active,
a:hover,
a:active {
  color: rgba(65, 36, 84, 1);
}

.form-group {
  color: var(--black);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.form-control:focus,
.form-control:not(active) {
  background-color: var(--orange);
  border: none;
  border-radius: 1000px;
  color: var(--white);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.form-control:focus {
  border: none;
  box-shadow: none;
}

.form-control::placeholder {
  color: var(--white);
}

/* Change Autocomplete Styles in Chrome */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: var(--white);
  -webkit-box-shadow: 0 0 0px 1000px var(--orange) inset;
  transition: background-color 5000s ease-in-out 0s;
}

/* Log In / Sign Up Button Styling */

.btn-submit {
  background-color: var(--blue);
  border: none;
  border-radius: 1000px;
  color: var(--white);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  margin-bottom: 20px;
  margin-top: 20px;
  max-width: 400px;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 90%;
}

/* Button Pseudo Class Styling */

.btn-submit:active,
.btn-submit:focus,
.btn-submit:hover {
  background-color: var(--purple);
  color: var(--white);
}

/* Disabled Button Styling */

.btn-submit:disabled {
  background-color: var(--blue);
  color: var(--white);
}

.btn-submit:disabled:active,
.btn-submit:disabled:focus,
.btn-submit:disabled:hover {
  background-color: var(--blue);
  color: var(--white);
}

/* Alert Styling */

.alert-danger {
  background-color: var(--yellow);
  color: var(--black);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}


/* Button Pseudo Class Styling */

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  background-color: var(--purple);
}

/* Disabled Button Styling */

.btn-primary:disabled {
  background-color: var(--blue);
}

.btn-primary:disabled:active,
.btn-primary:disabled:focus,
.btn-primary:disabled:hover {
  background-color: var(--blue);
}





